
/* Extra large devices (large desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    body{
        font-size: 1rem;
    }
    .nav-menu .menu-main-ul .menu-main-li {
        margin: 0 1rem;
    }
    #section_hot_news{
        padding: .6rem .4rem;
    }
    .service-title h3{
        font-size: 2rem;
    }
    #section_banner .banner-content h1{
        font-size: 3.5rem!important;
        line-height: 5rem!important;
    }
    #section_banner .banner-content p {
        padding-top: 2.5rem;
        line-height: 2rem;
    }
    .service-item:hover .service-image {
        opacity: 1; /* Show the image on hover */
        transform: translateX(80px); /* Slide the image to its original position */
    }
    
    .service-item:hover .service-title {
        transform: translateX(120px); /* Move the title to the right when hovered */
    }
    .industry-list ul li{
        font-size: 18px;
    }
    .main_inner{
        max-width: 1200px;
        margin: 0 auto;
        box-sizing: border-box;
    }
    .section_services {
        padding: 20px 0; /* Optional: Adds padding around the section */
        overflow: hidden; /* Clears floats and prevents overflow */
    }
    /* .section_services .main_inner{
        max-width: 100%
        
    } */
}

/* Responsive design */
@media (max-width: 1024px) {
    /* service section */
    .services_item .items {
        flex: 1 1 calc(50% - 20px); /* 2 items per row on medium screens */
    }
    /* process section */
    .process-step {
        max-width: 100%; /* Adjust width for medium screens */
        margin-right: 20px;
    }

    .process-line {
        display: none; /* Hide line for medium screens */
    }
 
}

@media (max-width: 768px) {
    /* service section */
    #section_services{
        background: #fff;
    }
    .services_item .items {
        flex: 1 1 calc(100% - 20px); /* 1 item per row on small screens */
    }
    /* process section */
    .process {
        flex-direction: column;
        flex: 1;
        margin-top: 0;
    }

    .process-step {
        
        margin-right: 0;
        margin-bottom: 20px; /* Spacing between steps */
        
        width: 100%;
        
    }

    .step-number {
        position: relative;
        top: auto;
        left: auto;
        bottom: 10;
        margin-bottom: 20px;
    }

    .process-line {
        display: none; /* Hide line for small screens */
    }
    .ptb-60{
        padding: 20px 0;
    }
    /* products & projects */
    .products_items .items-title h3{
        line-height: 30px;
      }
      .products_items .item{
        flex-direction: column;
      }
      #section_products .products_items{
        padding-top: 0;
      }
      .owl-carousel .owl-item img{
        margin-top: 30px;
      }
      .title {
        margin-bottom:0;
    }
    .products_items .description{
        text-align: justify;
    }
    /* ind solution */
    .solution_outer{
        flex-direction: column;
    }
    .solution_image{
        display: none;
    }
    .solution_content{
        max-width: 100%;
        padding: 20px;
    }
    .solution_content .title h3{
        font-size: 30px;
    }
    .solution_content .title{
        text-align: left;
    }
    .industry-list ul li{
        font-size: 18px;
    }

    /* banner  */
    .banner-content{
        width: 100%;
        max-width: 100%;
       padding: 10px!important;
        
    }
    #section_banner{
        height: 60vh;
    }
    #section_banner .banner-content h1{
        font-size: 45px!important;
        line-height: 50px;
        padding-bottom: 25px;
    }
    #section_banner .banner-content p{
        font-size: 18px!important;
        line-height: 30px;
        padding-top: 15px;
    }
    /* footer */
    .footer-items{
        flex-direction: column;
    }
    footer{
        padding: 10px;
    }
    .bg-highlight{
        background: #C2E7FE;
        padding: 0 10px;
    }
}
